
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Przyjecie sylwestrowe</title>
</head>
<body>
    <div>
        @ViewBag.Powitanie. Witaj z widoku!
        <p>Zapraszam na wspaniałe przyjęcie.<br /></p>
        <a asp-action="RsvpForm">Wyślij do RSVP</a>
    </div>
</body>
</html>